/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.body__header {
  margin: 0 auto;
}
/* Heading */
.header {
  width: 500px;
  display: block;
  text-align: right;
}
.header__logo {
  width: 100%;
}
.header__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .header {
    text-align: center;
  }
}
.body__content {
  margin: 0 auto 0;
}
.content {
  display: block;
  width: 500px;
}
/* New Task */
.section__name {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.section__name_add {
  display: block;
  margin: 0 0 20px;
}
.section__row-wrapper {
  display: flex;
}
.section__task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.section__task_new-task {
  width: 318px;
}
.section__task_input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  outline: none;
}
.section__task_input:focus {
  color: #333;
}
.section__add-button,
.section__edit-button,
.section__delete-button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  outline: none;
}
.section__add-button:hover,
.section__edit-button:hover,
.section__delete-button:hover {
  color: #3a3a3a;
}
.section__delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.section__delete-img:hover {
  transform: rotateZ(0);
}
/* Task list */
.section__list {
  margin: 0;
  padding: 0px;
  list-style: none;
}
.section__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__checkbox {
  margin: 0 10px;
  vertical-align: middle;
}
.section__task_label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
  vertical-align: middle;
}
.section__task_invis {
  width: 226px;
  vertical-align: middle;
  display: none;
}
/* Completed */
.section__task_line-through {
  text-decoration: line-through;
  color: #888;
}
.section__task_block {
  display: inline-block;
  width: 224px;
  vertical-align: middle;
}
.section__item_invis-label{
  display: none;
  vertical-align: middle;
}